*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body{
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.6;
 }
 
 .navbar{
     background-color: white;
     padding: 15px 50px;
     border-bottom: 1px solid #eee;
     position: fixed;
     width: 100%;
     top: 0;
 }
 
 .logo{
     display: inline-block;
 }
 
 .logo a{
     color: #510808;
     font-size: 26px;
     font-weight: bold;
     text-decoration: none;
 }
 
 .nav-links{
     display: inline-block;
     margin-left: 355px;
 }
 
 .nav-links li{
     display: inline-block;
     margin: 0px 15px;
     list-style: none;
 }
 
 .nav-links a {
     color: #666;
     text-decoration: none;
     font-size: 16px;
     margin-left: 30px;
 }
 
 .nav-links a:hover,
 .nav-links a.active {
     color: rgb(181, 141, 20);
 }
 
 .cta-button{
     float: right;
     display: inline-block;
     padding: 10px 20px;
     background-color: #937d4b;
     color: white;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.3s;
 }

 .cta-button:hover{
    background-color: #261b02;
 }
 
 .btn{
     display: inline-block;
     padding: 10px 20px;
     background-color: #007bff;
     color: white;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.3s;
 }
 
 .btn:hover {
     background-color: #024ea0;   
 }


 /* Banner  */
 .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 150px 50px 50px;
    margin-top: 70px;
}

.hero-content {
    max-width: 60%;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

.hero-buttons {
    margin-top: 30px;
}

.btn.secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.btn.secondary:hover {
    background-color: #007bff;
    border: 0px #007bff;
    color: white;
}

.hero-image {
    flex-shrink: 0;
}

.hero-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



/* clients */
.client {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 150px 50px 50px;
}

.client-content {
    max-width: 60%;
    padding: 20px;
    text-align: center;
}

.client h2 {
    font-size: 33px;
    color: #333;
    margin-bottom: 4px;
}

.client p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px; 
}

.client-logos {
    display: flex;
    justify-content: center;
    gap: 130px; 
    flex-wrap: wrap; 
}

.client-logos img {
    width: 80px; 
    height: auto;
    object-fit: contain; 
}



/* power of Blockchain */
.power {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

.power-content {
    padding: 50px;
}

.header {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    margin-top: 90px;
}

.sub-header {
    font-size: 17px;
    color: #777;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 140px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 1em;
    color: #555;
}



/* helping blockchain */
.blockchain-stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    background-color: #f9fbfd;
    font-family: Arial, sans-serif;
    margin-top: 170px;
}

.stats-header {
    flex: 1;
    max-width: 400px;
    text-align: left;
}

.stats-header h2 {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.stats-header p {
    font-size: 15px;
    color: #777;
    margin-bottom: 30px;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 2;
    justify-content: space-between;
}

.stats-item {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.stats-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px; 
}

.stats-item div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.stats-item h3 {
    font-size: 20px;
    color: #333;
    margin: 0; 
}

.stats-item p {
    font-size: 14px;
    color: #666;
    margin-top: 5px; 
}
